[2015-08-03 11:33] RedNifre opened #10 "Leaving Fuzz parameters empty causes build errors"
According to the description in the plugin, the Fuzz test parameters "Event Count", "Event Throttle" and "Seed" are optional. If I leave them empty, I get these python-errors in AWS:

stream() takes exactly 3 arguments (2 given)
'NoneType' object has no attribute 'filename'

As a work-around I used the same parameters in jenkins that are suggested when creating a Fuzz test on AWS directly:
Event C

[2015-08-03 11:34] RedNifre opened #11 "Not selecting a test to run causes a nullpointer exception in AWS device farm."
In the "Choose a test to run" section of the plugin, none of the tests is selected by default. If you forget to select one the build fails in AWS with an unhelpful nullpointer exception.

[2015-08-06 11:40] rubenvdb opened #12 "Trying to upload an IPA file gives an error"
Even though the help command reads "File pattern (local to workspace) where the newly built application (.apk, .ipa) exists.", specifying a path to an IPA-file results in error:

    [AWSDeviceFarm] Using App 'build/Release-iphoneos/*.ipa'
    [AWSDeviceFarm] Unknown app artifact to upload: build/Release-iphoneos/*.ipa

[2015-08-07 06:51] vbanthia commented on #10
Happened with me too.

thanks RedNifre  for the work around.

[2015-08-07 20:54] ahawker commented on #12
Ruben,

Thanks for reporting the issue and I apologize for the problem. The latest version of the Jenkins plugin was built prior to the release of iOS support on AWS Device Farm, so the functionality is still not yet available.

We are in the process of building a new version of the plugin to target our updated SDK and hope to have the new version in the Jenkins Update Center soon.

Until then, iO

[2015-08-07 20:59] ahawker commented on #11
Michael,

Thanks for reporting this issue.

In the correct case, the plugin should actually validate the selection (or lack there of) and block saving of the AWS Device Farm configuration settings until a test type is selected.

We'll be sure to take a look at this and see if we can correct the problem or at the very least, return a more friendly and descriptive message.

Thanks again and sorry fo

[2015-08-07 21:03] ahawker commented on #10
Sorry for the problems!

This happens to be a problem with Built-in Fuzz Android execution in AWS Device Farm and is not related to the Jenkins plugin.

We are currently working on a fix and hope to have it deployed to our production environment very soon. I will be sure to come back and update this issue once we've done so.

[2015-08-12 17:33] ahawker commented on #10
We pushed a fix for this issue late last night. I'm going to close  this issue as resolved, but don't hesitate to re-open it if you once again encounter this bug.

[2015-08-12 17:33] #10 closed

[2015-08-13 00:58] #11 closed

[2015-08-13 18:50] anurag1408 commented on #11
This issue has been fixed

[2015-08-13 18:56] anurag1408 commented on #12
Hi

IOS support is available in the aws-device-farm plugin and new version(1.5) is released in the Jenkins Update Center.

[2015-08-13 22:45] ahawker commented on #12
Closing issue as fixed in version 1.5+. Please re-open if you continue to experience the error on that plugin version or newer.

[2015-08-13 22:45] #12 closed

[2015-09-13 20:26] jason-riddle opened #21 "Configuring Credentials Programmatically"
I'm trying to configure the Access Key / Secret Key for this plugin. Is there a way to do this programmatically without having to open the browser? A lot of other Jenkins plugins can be configured through groovy scripts, so does something similar exist for this plugin?

[2015-09-14 13:51] ainoya opened #22 "Does `Storing AWS Device Farm results in directory` feature still work well?"
Hi, this great plugin almost works well, but `Storing AWS Device Farm result` feature always fails in my environment, as causing `Status Code: 500; Error Code: InternalFailure`.  Does anyone have same issue ?

device-farm plugin version: 1.9
Jenkins version: 1.580.2

Error messages below;

[code]

[2015-09-14 17:49] trentpeterson commented on #22
We're looking into this issue and will let you know if we have further questions or have a workaround/fix. Thanks for reporting it.

[2015-09-14 22:34] trentpeterson commented on #21
The easiest way is to use the IAM console as outlined in the readme. You may also be interested in the [IAM CLI](http://docs.aws.amazon.com/cli/latest/reference/iam/create-access-key.html), which does allow for you to programmatically manage access keys. That said, you'll need to have credentials necessary to perform the actions in the first place.

If that doesn't answer your question, can you el

[2015-09-15 01:26] jason-riddle commented on #21
Let me try to clarify. Given that
- I already have a pair of access keys
- I have created the Jenkins instance with the plugin installed

On the settings page, I want to
- Set the Access Key and Secret Key through scripting
- Avoid having to open a browser

A similar example would be the following (Taken from here https://github.com/blacklabelops/jenkins/blob/master/groovy/setEMailSettings.groovy)

[2015-09-15 06:39] trentpeterson commented on #21
Ah, this is helpful and now I understand. Thanks for the additional info. We'll take a look and update this issue.

[2015-09-17 10:25] MasashiKurita opened #23 "Can not schedule "APPIUM_JAVA_JUNIT""
AWS Device Farm Plugin Ver. 1.9
I' facing a issue when I create job to run "APPIUM_JAVA_JUNIT".
When I execute job, I got error below:

[code]

Can you look at this?
Thanks.

[2015-09-18 01:03] anurag1408 commented on #23
Hi MasashiKurita

I have few questions which would help us debug the problem
1) Do you see this problem only for appium java Junit ? Are you able to run fuzz tests on the same app through Jenkins
2) Can you give me the link to the run in the device farm console  corresponding to the failed build ? This is how you can give it
a) Locate corresponding run in the AWS device farm console
2) Click on th

[2015-09-18 02:32] MasashiKurita commented on #23
Hi anurag1408

Thanks for quick response.

Yes, only for appium java Junit. This does not happen on fuzz tests.

Ok, here is the link to corresponding run, using same .apk and .zip.
https://us-west-2.console.aws.amazon.com/devicefarm/home?region=us-west-2#/projects/91538a70-8028-4659-a6b9-312e5d241ad5/runs/77dd7a9a-3786-4faa-8436-17745b3e6ad0

Thanks for your help!

[2015-09-18 17:53] anurag1408 commented on #23
Hi MasashiKurita

You said you cannot schedule run and at the same time you have pointed to the run in the console
What is the issue you are facing. Are your test failing or you are not even able to schedule run through jenkins
 I checked the run you have given. You run and all the jobs have completed.
You can also double check this through your console.  But as per the error signature you gave, t

[2015-09-18 19:12] anurag1408 commented on #22
We have identified the issue and the fix will be released in the Device Farm plugin build we are releasing next week

[2015-09-22 23:36] anurag1408 commented on #23
The new aws-device-farm plugin (build 1.10) with the fixes will be available from tomorrow
Can you try that plugin and check if you still face the same problem. I am closing this issue. Please reopen if you see any issues

[2015-09-22 23:36] #23 closed

[2015-09-24 19:58] jdiaz5513 opened #25 "unable to select from iOS device pools"
In the plugin configuration for a build I am able to select among Android device pools but I am not seeing any of the configured iOS device pools show up in the list.

Am I missing something? (Yes, I tried hitting refresh.)

[2015-09-28 05:22] MasashiKurita commented on #23
Hi Anurag1408

Thanks for your comments and sorry for late reply.
I checked your comments due to private vacation.

It works well now even I'm still using aws-device-farm plugin (build 1.0).

I faced problem I could not schedule a appium java JUnit run by using plugin.
When it happen again, I will reopen this again.

Anyway, thank you for you support.

[2015-10-15 00:15] hspak opened #27 "Modify Device State"
Is it possible or will it ever be possible to modify the device state through the plugin? I'd like to upload dependencies, but I haven't found any way.

[2015-10-16 02:52] appwiz commented on #27
Hi @hspak, could you provide more detail about your use case? If you are looking to upload additional applications as dependencies, you can specify a [list of AuxiliaryApps](http://docs.aws.amazon.com/devicefarm/latest/APIReference/API_ScheduleRunConfiguration.html#devicefarm-Type-ScheduleRunConfiguration-AuxiliaryApps) in your ScheduleRun request through the plugin.

[2015-10-16 03:04] appwiz commented on #25
Hi @jdiaz5513, apologies for the late reply. What type of app have you uploaded?

[2015-10-16 05:22] hspak commented on #27
Yes that was exactly what I was looking for, thanks!

Are there any plans to expose [these](https://github.com/awslabs/aws-device-farm-jenkins-plugin/blob/8f215e59b616bc78ff1c95fef3d2b4a31ee22b83/src/main/java/org/jenkinsci/plugins/awsdevicefarm/AWSDeviceFarmRecorder.java#L358) through the web UI? This is what caused my confusion.

[2015-10-16 16:24] jdiaz5513 commented on #25
I've uploaded both Android and iOS builds for ad-hoc runs, and have device pools configured for both (our project is cross-platform).

[2015-10-16 16:49] appwiz commented on #25
@jdiaz5513, please send me your AWS account ID and project name and I'll take a look the underlying configuration. You can email the information to aws-devicefarm-support@amazon.com referencing this thread.

[2015-10-16 18:20] jdiaz5513 commented on #25
Done, thanks.

[2015-10-21 09:22] appwiz commented on #21
@jason-riddle we've added this request to our backlog and will take a look at implementing it in the near future (no ETA that I can provide unfortunately). In the meantime, if you would like to contribute a pull request, we are happy to review it.

[2015-10-21 17:07] appwiz commented on #25
@jdiaz5513, I cloned your device pool into my account and was able to view and use it successfully via Jenkins. As you stated, I had to click "Refresh" for the pool to show up.

* Have you checked if the pool is visible under your project in the [AWS console](https://us-west-2.console.aws.amazon.com/devicefarm/home?region=us-west-2#/projects)?
* What version of the Jenkins plugin are you using?

[2015-10-21 17:54] appwiz commented on #27
@hspak yes, it is in our backlog but unfortunately no ETA at this time. If you want to put together the UI and submit a pull request, we are happy to take a look at it.

[2015-10-21 18:09] jdiaz5513 commented on #25
I just checked today, it looks like it's working now. Bizarre! It must have been a temporary issue with the API? Thanks for the help, consider this solved.

[2015-10-21 18:09] #25 closed

[2015-11-30 05:09] cloudtestsoftware opened #28 "Jenkin job does not allow to configure webview without any apk"
Suppose if I like to test amazon.com or walmart.com in the browser using mobile or device using appium and java, I am not able to configure the job without any apk. Shall I need to provide a fake apk to test web view?

[2015-11-30 05:30] nIvanovp opened #29 "Running a single UI Automator test"
To whom it may concern.
I have encountered a problem using aws-device-farm-jenkins-plaugin.
I try to run a single Android UI Automator test via jenkins using aws-device-farm-jenkins-plugin.
I point out in the field 'Filter' of 'com.uiautomator.test.BaseTestRunner#test' but the entire test class (bn.ereader.BaseTestRunner) runs.
Perhaps, you have a solution.
Thanks.
Best wishes, Nikolai

[2015-12-02 05:50] zhaohongda commented on #28
Device Farm has release the mobile web test support for Chrome and Safari.

You may want to take a look at https://aws.amazon.com/blogs/aws/aws-device-farm-update-test-web-apps-on-mobile-devices/

[2015-12-22 22:09] HongdaAWS commented on #29
Hi Nikolai,

Sorry that you have issues.
The test filter in Jenkins plugin is only supported for Calabash today.
DeviceFarm will review the feature request and keep you posted with progress.

Thanks,
Hongda

[2016-01-13 17:20] cloudtestsoftware commented on #28
Could you please send me the link of the sample web view automation script for amazon you used in this example in your link.

[2016-01-13 20:30] cloudtestsoftware commented on #28
Hi,

I am getting error while creating the project in AWS CLOUD.

I followed below steps

1) I downloaded the zip file from the github using AWS project.

https://github.com/cloudtestsoftware/DeviceFarmSampleForWebApp

Please let me know what are the steps I need to follow before I can create the zip and upload

![screen shot 2016-01-13 at 12 18 51 pm](https://cloud.githubusercontent.com/assets/15

[2016-01-29 17:11] zhaohongda commented on #28
Device Farm published some sample codes for mobile web test on https://github.com/awslabs/aws-device-farm-sample-web-app-using-appium

The mobile web test is supported through Console, CLI and SDK. Jenkins support is still on-going.

[2016-02-13 15:03] sangkwon opened #31 "Calling API via http proxy server"
Jenkins and many plug-ins support invoking API via http proxy server. But this plug-in doesn't support it.

We can specify proxy server information by JVM parameter on launching jenkins.
Here are an example script:
[code]

[2016-02-13 15:22] sangkwon commented on #31
I'm adding the feature by modifying code like this:
https://github.com/sangkwon/aws-device-farm-jenkins-plugin/commit/2235656220149e40c609587b461f371fca9160d1

[2016-02-14 00:02] appwiz commented on #31
@sangkwon, please feel free to submit a pull request and we will take a look.

[2016-02-24 15:43] romainlouvet opened #33 "add role in plugin management"
Add possibility to add role in AWS jenkins configuration.

![capture d ecran 2016-02-24 a 16 42 30](https://cloud.githubusercontent.com/assets/4262374/13290829/a4f5e93a-db15-11e5-88c0-fc8e65914696.png)

[2016-02-26 21:02] appwiz commented on #33
Thanks for the feedback. I've added this to our feature backlog. In the meanwhile, if you'd like to contribute a pull request, we will be happy to take a look.

[2016-03-09 23:57] #22 closed

[2016-03-17 23:06] anurag1408 commented on #29
The issue is fixed now (in the latest Device Farm Jenkins build) and you can now specify filter when running Android UI automator test.
I am closing this issue
You can download the latest build from here
https://wiki.jenkins-ci.org/display/JENKINS/AWS+Device+Farm+Plugin

[2016-03-17 23:06] #29 closed

[2016-04-08 15:07] RedNifre opened #35 "Enable @Suppress annotation?"
Is there a plugin setting to make Device Farm respect the standard Android testrunner @Suppress annotation to exclude tests from being executed? The JUnit 4 annotations work, but we have a large test suite that is mostly JUnit 3.
Does the Jenkins plugin provide a config for this or is @Suppress support missing in Device Farm itself?
If support for that annotation is missing, will it be added or is

[2016-04-12 14:53] appwiz commented on #35
Hi @RedNifre,

The @Suppress annotation is not currently supported. I believe you have an open AWS support case regarding this issue so let's continue the conversation there.

[2016-04-12 14:53] #35 closed

[2016-05-26 23:18] nagaraju opened #37 "Error while uploading the APK file"
I am getting this error while uploading the APK file.

`[AWSDeviceFarm] Using Project 'New Test Cdvr'
[AWSDeviceFarm] Using DevicePool 'Test'
[AWSDeviceFarm] Using App '/var/lib/jenkins/workspace/ADF_Test/Scripts/*.apk	'
[AWSDeviceFarm] Unknown app artifact to upload: $Scripts/*.apk	`

I am new to ADF. Please let me know If I am doing anything wrong here.

[2016-05-27 15:46] appwiz commented on #37
I think you need to set `Application` to `**/app-debug-unaligned.apk` in the plugin settings. You should watch the [AWS Device Farm Jenkins webinar](https://www.youtube.com/watch?v=FmEeO_fUkp8) for a complete walkthrough.

[2016-06-15 21:59] jaredmurphyidt opened #38 "Plugin does not grab device pools from AWS"
hi, I have a Device Farm project hooked up to the jenkins plugin with IAM user credentials. When we try to add the AWS Device Farm project to jenkins, the Project comes up however we do not see any of the Device Pools and are not able to type in the field. We do not even see the default 'Top Devices' pool. Any tips on how to get a device pool to show in the post build actions section when configur

[2016-06-15 22:02] #38 closed

[2016-07-14 22:08] jbelkins opened #39 "Cannot perform multiple runs simultaneously from one Jenkins"
When I have two Device Farm builds running at the same time on the same Jenkins, the second one to start blocks with the following message:
[code]
The second job then continues after the first one ends.  I understand that this is a mechanism Jenkins provides to prevent simultaneous access to certain shared resources, but I do not see why this should apply to simultaneous Device Farm runs.  I seem

[2016-07-15 01:01] nikhil-dabhade commented on #39
Hi jbelkins,

Can you confirm if you did not have simultaneous runs apart from Jenkins runs ?
For e.g. a run triggered through console in addition to the one triggered through Jenkins ?

What you are describing can be due to some other run filling up your default concurrency of 5 because of which your run from Jenkins will wait until a slot opens up.

[2016-07-15 12:47] jbelkins commented on #39
Jenkins: v2.13
Device Farm plugin: v1.13

I had no other runs in progress at the time; when I looked in my Device Farm web console, the one run started with Jenkins was the only one in progress.  My Jenkins was trying to simultaneously start two runs with one device each to run in parallel.

I did find that while I had one run in progress initiated with Jenkins, I could perform a second in paralle

[2016-07-19 20:26] kylestenglineidt commented on #33
Hi,

I noticed when I cloned and opened the repo that this code is in there, but commented out. Is there a reason it hasn't been implemented?

Thank you.

[2016-07-25 18:11] nikhil-dabhade commented on #33
Hi kylestenglineidt,
Can you point us to which code are you referring to?

[2016-07-25 18:19] kylestenglineidt commented on #33
Hi nikhil-dabhade,
It's in:
`src/main/resources/AWSDeviceFarmRecorder/global.jelly`

[code]

[2016-08-25 14:32] whoismikem opened #40 "Store test results locally option NOT working"
Plugin works fine unless the 'Store test results locally' option is selected. The job fails with the below error message. Looks like there was an issue submitted around this feature in the recent past.

Is this feature still working?

Jenkins 2.19
aws-device-farm Plugin version: 1.13

Console Output Snippet:
[code]

[2016-09-12 10:33] spawn-guy opened #41 "[solved] Project list is not updated"
Some time ago we were playing with deviceFarm. and had 1 project on our AWS Account.
this project IS seen inside Jenkins.

Today, we've created another Project on AWS side. with a Different name. but for now we don't see it in our list of available projects.

Is this feature working? do we have to wait for something?

I've pressed "Refresh" button many times, but nothing had changed. I see only 1

[2016-09-12 11:35] spawn-guy commented on #41
for some reason we had to wait for some time for these changes to be fetched.
maybe a delay with AWS API output.

this Issue can be closed. (if no one wants to investigate more)

[2016-09-12 11:35] #41 closed

[2016-09-12 18:21] nikhil-dabhade commented on #40
@whoismikem : Thanks for highlighting this. We will need to test this out at our end. We have other users who use this feature and this is the first and only instance of this issue being reported.

[2016-09-12 20:19] whoismikem commented on #40
If you think the feature is working and problem is on my end, I can troubleshoot this a little more if you point me in the right direction.

Thanks

[2016-09-21 18:43] mig82 opened #42 "Set IAM Role ARN"
I noticed the global.jelly file for the AWSDeviceFarmRecorder is commented out.

`<f:entry title="IAM Role ARN" field="roleArn" description="AWS IAM Role ARN.">
            <f:textbox />
        </f:entry>`

Is there a particular reason why? I'm in need of this feature.
Alternatively, the EC2 plugin allows you to specify that the plugin should just run with the role given to the box it's running o

[2016-10-12 23:17] nikhil-dabhade commented on #40
Sorry for the delay here @whoismikem
Are you still seeing this issue?

[2016-10-13 01:35] nikhil-dabhade commented on #39
Are you still running in this issue? We have been not able to reproduce this issue at our end after thorough testing.
If it is no longer an issue it would be nice to mark it as closed.

[2016-10-13 15:44] whoismikem commented on #40
Yes. Still seeing this problem. @nikhil-dabhade. Not sure how to approach troubleshooting this.

[2016-10-13 20:49] nikhil-dabhade commented on #42
@mig82 : Thank you for getting in touch with us.
I have noted down this as a feature request at our end.
There is no immediate ETA for getting this support in.
Will update this thread when we have one.

[2016-10-14 06:36] mig82 commented on #42
Thank you Nikhil,
Happy to contribute.
Regards,

On Oct 13, 2016 22:49, "Nikhil Dabhade" <notifications@github.com> wrote:

[2016-10-15 04:13] jbelkins commented on #39
I moved off the project where I was using this plugin, so I can no longer
investigate. You may close.
On Wed, Oct 12, 2016 at 8:36 PM Nikhil Dabhade <notifications@github.com>
wrote:

[2016-10-15 09:50] nikhil-dabhade commented on #39
Ah. Thanks for the update.
Closing.

[2016-10-15 09:50] #39 closed

[2016-10-20 07:34] brendan-tapslots commented on #37
I've had the same problem when trying to run this plug-in inside a freestyle job, called from a separate pipeline job (as a step).

[code]

Feeding in a parameter (APPLICATION_PATH -> "/path/to/workspace/testemulator-01.apk") correctly expands when echoing the 'Using App' step (as above in nagaraju's example) but then uses the literal value ("APPLICATION_PATH") when validating the file extension.

[2016-10-20 10:51] facos86 opened #43 ""Ignore Device Farm errors in build result." option is not working"
Hi,
I activated "Ignore Device Farm errors in build result." to ignore potential failed tests in DeviceFarm.
However, the option is not working, at the end of a failed test run, I got in Jenkins :
`[AWSDeviceFarm] Test run is complete.
Build step 'Run Tests on AWS Device Farm' changed build result to FAILURE`

[2016-10-25 14:41] lookasxx6xx opened #44 "Setting the Device Pool from the variable."
Hi,
I'm using your plugin with Multi-job plugin. I would like to create several different multi-jobs that run tests on different device pools. I wanted to create new environment variable on the start of each multi-job that contains name of the device pool I would like to use, but I can't use this variable because device pool choose field is a combobox. Could you change this field to be able to use

[2016-10-26 13:18] facos86 commented on #43
Anyone ?

[2016-11-01 05:23] appwiz commented on #44
Thanks for the request. We don't have plans to natively support your use case in the Jenkins plugin. However, if you'd like to implement the logic so that it works as current and for your use case, send us a pull request and we will be happy to take a look at it.

[2016-12-08 21:32] anurag1408 commented on #43
Hi

Thanks for reporting this. Can you share the URL of the run from Device farm console for which you experienced this issue. This would help us in investigating furher

[2016-12-09 03:48] anurag1408 commented on #40
Here is the source code for the Device Farm Jenkins plugin
https://github.com/jenkinsci/aws-device-farm-plugin

You can clone this repo and run
mvn compile hpi:hpi
This will generate a hpi file in the target directory under your workspace. You can use this hpi file for the device farm plugin in the Jenkins

Meanwhile this is the file , where you are getting the NPE.
Can you add more logging to see

[2016-12-16 13:13] seaders opened #45 "Please add support for Jenkins pipeline"
You have it in some of your other plugins, specifically the publish to S3 one, with this commit the specific containing most of the changes from old style, to the new one,
https://github.com/jenkinsci/s3-plugin/commit/0b4db3ac730702791a67dccbc881a0582cebecb1

[2016-12-19 08:00] vipulasri opened #49 "Email integration"
After the results are performed on devices, an email regarding results should be sent to the email address specified.

[2016-12-19 17:26] appwiz commented on #49
Thank you for the feature request. If you submit a feature request that adds this capability, we will be happy to take a look at it.

[2016-12-19 18:58] appwiz commented on #45
Thanks. We will review the pull request.

[2016-12-19 18:58] #45 closed

[2017-01-10 16:30] VenkataMutyala commented on #33
I just checked the code it looks like its still commented out. Are there any plans to implement this feature?

[2017-01-31 12:24] pavankumar9 opened #51 "Debug messages for failures in uploading build_dependencies.zip"
In case of zip packaging issue or any we don't get proper debugging statements on the console, so its good to have debugging enabled for any failure occurred while processing and uploading the zip.

We get error message from UI perspective on device farm I hope we can print the same if any thing fails from jenkins resource upload.

[2017-01-31 12:25] pavankumar9 commented on #51
Current logs:
[AWSDeviceFarm] Archiving artifact 'zip-with-dependencies.zip'
[AWSDeviceFarm] Uploading zip-with-dependencies.zip to S3
[AWSDeviceFarm] Upload zip-with-dependencies.zip failed!
Build step 'Run Tests on AWS Device Farm' marked build as failure

[2017-03-06 21:42] michael-b-willingham commented on #51
Thanks for reporting this. We'll take a note of this, but we currently don't have an ETA for when this will be tackled. Feel free to modify the code and submit a pull request!

If you need to see what the error message is, I would suggest using the AWS Device Farm CLI or AWS Console to try uploading the app/test content. You can then use the [troubleshooting](http://docs.aws.amazon.com/devicefarm/

[2017-03-20 19:14] mofoAlex opened #53 "Missing Option for XCTest UI"
I noticed that Web Interface of AWS Device Farm has Test Filter for *-Runner.ipa
(screenshot attached)

Can you please make a same Filter for aws-device-farm-jenkins-plugin

That would be every much appreciated  !!!

Thx!
![test_filter](https://cloud.githubusercontent.com/assets/19596352/24117257/bf63a15c-0d66-11e7-8b6a-d07784062e45.png)

[2017-03-22 23:21] nikhil-dabhade commented on #53
@mofoAlex : Thank you for the suggestion. It is a good idea to expose the same filter through Jenkins.
I am going to keep this task open until this is implemented.

If you are by any chance blocked by this, having this run through CLI script and then having the script run through Jenkins would be a way to get around this until this feature is implemented.

[2017-03-23 18:33] mofoAlex commented on #53
Thank you!

[2017-03-28 10:40] mansi1516 commented on #28
Please provide if were able to trigger mobile web through the Jenkins - AWS plugin.

[2017-03-30 22:17] yieldmo-rao commented on #28
Up voting this feature. Currently, there's no way to select a Web App test.

[2017-05-15 13:42] zakirhere commented on #28
Any idea if this will be supported in near future?

[2017-06-09 11:38] andreiaionitoaiesv opened #57 "Missing option for selecting Appium Version"
Hey,

So in the jenkins plugin I don't have any way to select the appium version. I observed that will always run with Appium v .1.4.16 . Any chance to get this done and start Appium with version 1.6.3 ? In the aws console you have this option to select the Appium version

Thanks

[2017-06-09 14:08] nikhil-dabhade commented on #57
@andreiaionitoaiesv : Thank you for reaching out to us. We are currently working on deploying an updated version of our Jenkins plugin which will let you chose the Appium version. You can expect this to be in next week.

[2017-06-23 10:33] andreiaionitoaiesv commented on #57
Hey @nikhil-dabhade

Any updates for this issue?

[2017-06-29 21:30] nikhil-dabhade commented on #57
@andreiaionitoaiesv : We pushed an update for Jenkins plugin (1.14) which has support for this feature.

Closing this issue.

[2017-06-29 21:30] #57 closed

[2017-06-30 00:37] mofoAlex commented on #53
@nikhil-dabhade Hi Nikhil, i noticed that you released a 1.14 version of Jenkins plugin.
And I see the Filter Field for XCTest UI which is mentioned in this ticket, but currently it's not working, right ? I assumed is not, because this ticket is still open. Can you give some updates on this ?
Thanks a lot!

[2017-06-30 00:59] mofoAlex opened #62 "1.14 version issues"
Thanks for releasing a new version of the plugin.
I noticed some issues so far. Idk you guys aware about them, if so just close this ticket.

1. Unable to increase Execution Timeout more than 60 mins.
We bought a more time for our runs and currently we have 150 mins.
![executiontimeout](https://user-images.githubusercontent.com/19596352/27716404-f6c489c8-5cf2-11e7-983e-d7a132912d32.png)

2. Unable

[2017-06-30 17:41] nikhil-dabhade commented on #62
@mofoAlex : Thank you for bringing this to our attention. I am taking a look at these issues and will push a fix soon if I can validate these. Thank you for your patience in this regards.

[2017-06-30 17:52] nikhil-dabhade commented on #62
@mofoAlex : The first one is a valid issue. We are working on a fix for it.
For the second issue, we weren't able to reproduce it on multiple instances. Can you share what browser are you using ?

[2017-06-30 18:28] mofoAlex commented on #62
@nikhil-dabhade Im using Google Chrome Version 59.0.3071.115 (Official Build) (64-bit) on macSierra 10.12.5. Latest Jenkins update (2.67)

Additional Info:
Also I did update aws-device-farm plugin on top of previews version with saved configuration.
All other checkboxes in the plugin do not have a same issue.

[2017-07-07 06:30] andreiaionitoaiesv opened #64 "Appium 1.6.5 option"
Hey,

I noticed that in 1.14 version I don't have the option for Appium 1.6.5. There is a bug in Appium 1.6.3 that blocks me and I cannot run my tests through jenkins.
There is an issue on WebDriverAgent:
https://github.com/facebook/WebDriverAgent/issues/575

This issue is fixed in Appium 1.6.5.
Currently I run my tests from the device farm console since there I can select the 1.6.5 version, but t

[2017-07-07 16:10] nikhil-dabhade commented on #64
Hi @andreiaionitoaiesv Thank you for reporting this.
We have added support for 1.6.5 in this repository code and the plugin can be built from here to immediately unblock you. We are expecting the official bug fix for Jenkins plugin repo to hit early next week. Thank you for your patience in this regard.

[2017-08-29 12:36] aryak93 commented on #64
The Appium v1.6.5 option is still not available. Can you please make the fix official.

Thanks

[2017-08-29 20:57] nikhil-dabhade commented on #64
@aryak93 : Did you download the plugin from the Jenkins plugin repo ? This should be in. I will revert back in sometime after confirming this.

[2017-08-29 21:46] nikhil-dabhade commented on #64
@aryak93  @andreiaionitoaiesv : I checked and updated the repo with 1.15 which includes few updates too. It should get reflected in 24 hrs on the official plugin repo. Please let us know if you run in to issues thereafter.

[2017-08-29 23:01] nikhil-dabhade commented on #64
1.15 is now available with the fixes.
Please let me know if you having the Appium issue with this version.

[2017-08-29 23:01] #64 closed

[2017-09-06 07:46] nikhil-dabhade commented on #62
@mofoAlex : We released version 1.15 sometime back and these issues were addressed in that release. Please let us know if you are running in any other issues.

[2017-09-06 07:46] #62 closed

[2017-09-28 16:59] skhanam commented on #25
Hi There,

I have configured like mentioned on the documentation for some reason i see the project being populated on Jenkins however i don't see the device pool.

Could you let me know why its not picking up , when i login to console i see that the device pool is shown.

[2017-10-31 15:26] ButkiewiczP commented on #25
Any idea what can be causing this?

I'm also running into this issue despite configuring our Jenkins and IAM user with the necessary policies/keys/etc. The `Project` dropdown correctly displays my projects, but the `Device Pool` dropdown remains empty.

[2017-10-31 15:39] nikhil-dabhade commented on #25
@ButkiewiczP : Do you already have a device pool in that project that was created through either console or CLI ? The Jenkins plugin is only going to display pools that were already created through console or CLI.
Also have you tried hitting the refresh button ?

[2017-10-31 15:44] ButkiewiczP commented on #25
Yea I've pounded on the refresh button a number of times. There is a device pool attached to that project (2 in fact), but both were created _before_ the Jenkins user, though I don't think that should make a difference. The Jenkins user has the correct IAM policies attached. Does it need any additional permissions besides the deviceFarm permissions?

[2017-11-01 15:57] MattHamersky commented on #43
Hi, we are actually experiencing this same issue.  I noticed that the original poster never responded so figured I would step in.

Here's the link to the run on the device farm console: https://us-west-2.console.aws.amazon.com/devicefarm/home?#/projects/3bf5223e-bc18-452f-b17c-b04cba4c9d35/runs/fa43ea3d-3880-4f36-9d1d-3d37297761a3

Just to reiterate, on Jenkins we have the box for "Ignore Device F

[2017-12-05 12:00] bajicdusko commented on #37
I've stumbled to this problem a year and a half after. `${WORKSPACE}` does not work yet, when used in path, but writing the path as `Ant GLOB pattern` helps. So I end up with `**/app/build/outputs/apk/app-debug-androidTest.apk`. Which works.

Also double check the white space characters, especially at the end, as I've lost whole day because of this.
If you take a look at [this line](https://github

[2017-12-14 18:28] lmanfrim-ciandt opened #65 "Device Pool not been listed for one porject account"
We have an aws device farm account with only one project. Trying to select the Device Pool items in a simple build job is not possible, since when you click in the project list unique item action "org.jenkinsci.plugins.awsdevicefarm.AWSDeviceFarmRecorder/fillProjectNameItems" is not called.

[2018-01-11 23:58] bradley-curran commented on #65
Are you still running into this issue?

Could you send me the URL of your Device Farm project? Mine looks like this: https://us-west-2.console.aws.amazon.com/devicefarm/home?region=us-west-2#/projects/e0d3fe48-a8ec-449b-83bf-18ed34e36999/runs

You can get the URL by going to the Device Farm console, selecting your Project and copying the URL in the address bar.

[2018-01-15 10:41] lmanfrim-ciandt commented on #65
Hello Bradley!

Yes, we are still running into this issue. Sorry, but for security reasons, I can't give you the URL. By the way, I am not working in the project (from the company I work) anymore. We could make it work with a workarround. We have created another empty project, and with 2 projects, we could list and select it. Notice that the problem is with the Java code of the plugin.

Thank you.

[2018-01-16 06:48] bradley-curran commented on #65
Great to hear that you've got a simple way to reproduce it.

Could you clarify for me what you mean by a project?

[2018-01-16 11:11] lmanfrim-ciandt commented on #65
First, in Device Farm we had only one project, called "CSFácil". The plugin didn't work when trying to list the "runs" from the project "CSFácil". So, we've created another project called "Temp" (an empty project, without configurations).

![image](https://user-images.githubusercontent.com/34551542/34986032-3c277f3c-fa9d-11e7-90f0-366acb8ec732.png)

[2018-01-16 16:22] mraghu-athena commented on #65
Hello Bradley,

The issue was with the initial loading of plugin where doFillProjectNameItems & doFillDevicePoolNameItems loaded in synchronize and doFillDevicePoolNameItems processed with blank/null project value.

Fix: [https://github.com/awslabs/aws-device-farm-jenkins-plugin/pull/68](https://github.com/awslabs/aws-device-farm-jenkins-plugin/pull/68)

Thank you.

[2018-01-23 16:41] jeffreylail opened #69 "support for Appium 1.7.1 ?"
Hey there awslabs!

I noticed in the AWS console, there's an option to use Appium version 1.7.1 (with Appium Python type.)

But I don't have this option in your Jenkins plugin, v1.15.
Any plans to support this? My tests are erroring on Appium version 1.6.5.

Currently I have to run my tests via command line or from the device farm console since in order to select the 1.7.1 version.

Thanks in adva

[2018-01-30 08:35] itomaldonado commented on #43
I am having the same issue 👍

[2018-02-02 00:21] JianqingSeattle commented on #69
There is a pending pull request for this feature: https://github.com/awslabs/aws-device-farm-jenkins-plugin/pull/66

[2018-03-06 14:13] morphysk commented on #69
Can someone merge this? it will be great

[2018-03-18 14:21] NateZ7 opened #70 "What is the test package location ?"
Hi,
I'm using the aws-device-farm plugin with Jenkins.
When I choose "Run Tests on AWS device Farm", there is "Choose test to run" section.

I chose Appium Java JUnit to match my tests type.
Inside that, there is a field "Tests" which described as `

[Required] Pattern to find Java JUnit tests.
--

`

I'm using Gradle. How do I provide the zip file for the "Tests" field ?

Thanks !

[2018-03-30 18:35] JinZgitH commented on #70
As I answered to your other post,
you have to make your own tests, and zip them into a .zip file and upload it to DeviceFarm for them to execute the test.
This link will help:
https://docs.aws.amazon.com/devicefarm/latest/developerguide/test-types-android-appium-java-testng.html#test-types-android-appium-java-testng-prepare

[2018-04-06 14:29] morphysk opened #71 "NonProxyHosts are ignored"
Hi there,

I am facing issue with plugin configuration. I am setting up environment variables(NO_PROXY, HTTP_PROXY, HTTPS_PROXY) in jenkins settings.
I also tried to add JAVA_ARGS to jenkins configuration file:
`JENKINS_JAVA_OPTIONS="-Djava.awt.headless=true -Dhttp.proxyHost=xyz -Dhttp.proxyPort=yyyy -Dhttps.proxyHost=xyz -Dhttps.proxyPort=yyyy -Dhttp.nonProxyHosts='localhost|127.0.0.1|169.254.169

[2018-04-13 07:16] qamadhu opened #72 "Import app(.apk/.ipa) from S3 bucket to Application path"
Hi,
Is there any way to get  .apk/.ipa from S3 bucket to Jenkins-Device farm-Application path

Scenario :
After Dev team triggers the  Jenkins-job, It will store the app in  S3 bucket with AppName-CXXX.XX.XX.apk
In post build actions it will trigger the Automation job (Remote trigger Jenkins job) and I need to use that .apk file path in Application.

Thanks,
Madhu

[2018-04-17 19:25] nikhil-dabhade commented on #72
@qamadhu : The application path in Jenkins plugin today works off the workspace folder of your project. One simple solution could be to have build or post build step "Execute shell" in your jenkins instance. This shell script can pull down the apk/ipa file from the S3 bucket and store it in the project workspace folder. The plugin can work as intended thereafter. Hope this helps.

[2018-04-18 05:04] qamadhu commented on #72
@nikhil-dabhade : Thanks for your valuable suggestion. Thinking the same.

Cheers,
Madhu

[2018-04-20 16:04] MaqdoomS opened #73 "Customer Artifacts/Customer Artifacts Log are missing while running through Jenkins plugin"
Hi,

   Customer Artifacts/Customer Artifacts Log are missing while running through Jenkins plugin. Could you please tell me how to enable through Jenkins plugin,

While running manually through AWS farm console, I am able to see the links:
![image](https://user-images.githubusercontent.com/19201750/39061193-21599a80-44e1-11e8-8e52-f87bd5450813.png)

While running through AWS Device Farm Jenkins P

[2018-07-11 00:52] floorra commented on #73
Hi,

You can enabled customer artifacts feature by checking 'Store test results locally' under Run Tests on AWS Device Farm.

Flora

[2018-07-11 06:25] solariswu opened #75 "Upload for web App test always fail when picking the unmetered device"
AWSDeviceFarmRecorder.java

Two places calling

if (isRunUnmetered != null && isRunUnmetered) {
                String os = adf.getOs(appArtifact);

public FormValidation doCheckIsRunUnmetered(@QueryParameter Boolean isRunUnmetered, @QueryParameter String appArtifact) {
            if (isRunUnmetered != null && isRunUnmetered) {
                AWSDeviceFarm adf = getAWSDeviceFarm();

[2018-07-17 09:08] rvarum commented on #69
i think this options should be free text field or something.
i'm not sure every appium version change should require new plugin build.
AWS device farm now supports up to appium 1.7.2

[2018-08-21 17:34] nikhil-dabhade commented on #69
This is now complete.

[2018-08-21 17:34] #69 closed

[2018-08-27 08:58] arthur-c opened #78 "NPE with 1.19"
Hi,

I have the following error with the 1.19 version (I rollbacked to 1.17 and it's fine)
I'm using an unmetered device.

[code]

[2018-08-29 17:33] nikhil-dabhade commented on #78
@arthur-c : Thank you for bringing this to our attention.  We are taking a look at this immediately. I will update this thread with the results.

[2018-08-29 20:37] nikhil-dabhade commented on #78
@arthur-c  We have identified the root cause for this issue and are working on the fix. Will update you as soon as this makes it in. (shooting for 08/30 as a best effort estimate)

[2018-09-04 19:01] arthur-c commented on #78
Hi @nikhil-dabhade

I updated the plugin and retried, I have got a new NPE:

[code]

[2018-09-11 23:31] ravuthlong opened #81 "NPE 1.20"
Issue on 1.20

ERROR: Build step failed with exception
java.lang.NullPointerException
	at org.jenkinsci.plugins.awsdevicefarm.AWSDeviceFarmRecorder.perform(AWSDeviceFarmRecorder.java:592)
	at hudson.tasks.BuildStepCompatibilityLayer.perform(BuildStepCompatibilityLayer.java:81)
	at hudson.tasks.BuildStepMonitor$3.perform(BuildStepMonitor.java:45)
	at hudson.model.AbstractBuild$AbstractBuildExecutio

[2018-09-13 17:59] ravuthlong commented on #81
Resolve after i change Appium version from 1.65 to 1.72 in jenkins Job it works fine.

[2018-09-13 17:59] #81 closed

[2018-09-17 15:04] arthur-c opened #82 "NPE with 1.20"
Hi,

I'm still experiencing an NPE with 1.20 (following #78 )

[code]

[2018-09-17 19:31] jlegorburuJC opened #83 "Specify Device State - Install other app parameter not showing"
Hi there,

I am facing issue with plugin configuration. I want to install other app to the device to run the tests, but the parameter "Install other app" on Specify Device State is not available on the plugin.

Thanks!

[2018-10-04 18:05] anurag1408 commented on #83
Hi,
We don't currently have build-in support to install other apps to a device via the Jenkins plugin, and don't plan to add it for the near future. There are 2 possible ways you can get around this today:

(1) you can include your extra apps along with your test bundle, then select the "custom environment" mode, which allows you to define your test steps. Then, when defining your test steps in a

[2018-10-08 18:08] anurag1408 commented on #82
Hi

Thanks for reaching out. This is fixed in the latest release of plugin 1.22.

[2018-10-08 18:10] anurag1408 commented on #75
Hi

This is fixed in the latest release of plugin 1.22

[2018-10-08 18:23] #75 closed

[2018-10-08 18:23] #82 closed

[2018-10-08 19:11] arthur-c commented on #82
Thank you @anurag1408, I was able to schedule a run with 1.22.

[2018-10-15 09:38] stevesum opened #85 "Add as a Build Step"
We would like to integrate the AWS test into a Fastlane build process.
There is a way to separate the fastlane task to two different steps (build + upload store)
But in this situation we should execute the AWS test between this two 'build' steps.

Is any way to Add this plugin as a Build Step instead of Post Build Action?

[2018-11-15 20:55] giangpham96 opened #86 "Custom environment not listed"
I use this plug in for android instrumentation test. But when I choose `Choose your execution environment` and look for my custom test spec in `Select Test Specification file` drop down menu, it doesn't show up there.

I tried to upload the .yaml file using console and aws cli (https://docs.aws.amazon.com/devicefarm/latest/developerguide/how-to-create-test-run.html#how-to-create-test-run-cli-step5

[2018-11-15 21:48] nikhil-dabhade commented on #86
@giangpham96 Can you confirm if you have selected a project in the plugin before selecting the yaml file ?

[2018-11-16 06:35] giangpham96 commented on #86
Yes. I did select the project

[2018-12-31 10:57] J320 commented on #73
Has anyone found a fix to this issue? I'm experiencing the same despite checking 'Store test results locally'. It's the exact same code both when using the AWS Device Farm portal and the one executed from Jenkins with the same result as the author of this post is showing.

[2019-04-25 01:12] hodaz opened #94 "Too many open files problem"
I am using aws-device-farm plugin in jenkins for UI test.

Whenever the job is executed, open files are growing more and more.

To confirm this issue, I just run "lsof -p [jenkins pid]" on terminal.

The open files are almost report relative results.

I enlarged the limit to 65535 and when it comes to the limit, I should restart jenkins.

Could you tell me how to avoid it or confirm this issue?

[2019-04-25 19:48] stefanverhoeff commented on #94
Yep, can confirm the bug since I experienced it as well. And there is a fix but it has not been merged yet, see PR #92

You can clone and build that PR and solve your issue with a custom build.

Or maybe @nikhil-dabhade could have a look at the PR.

[2019-04-29 05:06] hodaz commented on #94
I got it. Thank you very much!

[2019-08-07 02:55] piyushag-aws commented on #94
@hodaz  Above pull request is merged after testing and new version 1.26 of AWS Device Farm Jenkins plugin is available for use now. Let us know if you still see any issue.

[2019-08-07 02:55] #94 closed

[2019-09-04 07:16] rucindrea opened #98 "results trends and graphs not shown when using plugin with a pipeline project"
I am using this plugin as part of a pipeline project in jenkins. Here's my Jenkinsfile stage for it:

[code]

My tests run successfully and I can see the results saved as artifacts, but the results trends and graphs, as well as the nice colorful results per device are not shown.

[2019-09-12 23:15] allgoodnamesareoccuped opened #99 "Is there a way to set Locale in the jenkins-plugin"
In Aws Device Farm you can set the Device Locale for the test run.
But If you run your test with the Jenkins plugin there's no option to set the Locale.
If you are unlucky you might end up with another locale than what you expect, since it will be saved from the previous run on that device.
Is there a way to set the Device Locale in the plugin?

[2019-09-26 20:38] scottasoutherland commented on #43
I'm having the same issue when using this plugin in a pipeline script with `ignoreRunError: true` , the build fails regardless.

[2019-10-09 22:21] guneesh27 commented on #99
Looking at the code for device farm plugin code, hardcoded value en_US is used.

https://github.com/awslabs/aws-device-farm-jenkins-plugin/blob/master/src/main/java/org/jenkinsci/plugins/awsdevicefarm/AWSDeviceFarmRecorder.java#L739

So each run with run with locale en_US irrespectively.
Is your use case to have locale other than en_US to be set ?
Ideally Jenkins plugin ui should go insync with th

[2019-10-25 02:04] scottasoutherland commented on #43
In fact, for me the build fails even when all of the tests pass

[2019-12-10 10:15] felipeloha commented on #85
stage('run tests') {
            steps {
                script {
                    withAWS(credentials:'aws-ci-user') {
                        devicefarm = step([$class: 'AWSDeviceFarmRecorder',
                                projectName: 'wms-app',
                                environmentToRun: 'CustomEnvironment',
                                devicePoolName: 'wms-app-device-pool',

[2020-02-21 04:28] nimaiwalsh commented on #83
Thanks anurag1408.

This would be a nice feature to have if any one has the capacity to implement it.

[2020-03-27 19:23] guneesh27 commented on #71
Hi morphysk , was the issue resolved or are you still facing this issue ?

[2020-03-27 20:13] morphysk commented on #71
Hi, at the end we switched to different solution because of this issue. I
dont have a place where to test this right now.
Thank you
Ivan

On Fri, 27 Mar 2020 at 20:23, guneesh27 <notifications@github.com> wrote:

[2020-06-02 11:05] ckzgraphics opened #105 "Pass the value for 'application' dynamically [Feature Request ?]"
:floppy_disk: **Use Case:**

I have an APK file that is generated dynamically and stored on S3. Check this document- [developerguide/continuous-integration-jenkins-plugin](https://docs.aws.amazon.com/devicefarm/latest/developerguide/continuous-integration-jenkins-plugin.html)

<img width="1437" alt="jenkins_1" src="https://user-images.githubusercontent.com/5198125/83512855-788e8800-a4ee-11ea-8343-

[2020-06-11 02:57] ckzgraphics commented on #105
Thank you for the update, @bad-hambo 👍

WIll check it out!

[2020-07-02 20:43] ramapalani opened #108 "Enable IAM role to be used with role chaining"
With Role chaining, max session duration is 1 hour.
Currently Device Farm plugin asks for 8 hours of assume role session, so IAM roles couldn't be used with device farm when role chaining is involved.

[2020-12-02 01:55] pyang-nortonlifelock opened #110 "Archiving download problem hangs Jenkins job"
I use Device Farm Jenkins Plugin in my Jenkins project as a post build action. However, from time to time, my Jenkins project is stuck in storing AWS Device Farm results in directory, with the error below.

[AWSDeviceFarm] Storing AWS Device Farm results in directory /Volumes/Data/Home/jobs/Android_Monitoring_Tests/builds/368/archive/AWS Device Farm Results
[AWSDeviceFarm] Downloading AWS Device F

[2020-12-02 20:37] nikhil-dabhade commented on #110
@pyang-nortonlifelock Hi Paul, Thanks for reporting this.
Are you seeing this for iOS or Android or it is random and has happened for both?

[2020-12-03 18:02] pyang-nortonlifelock commented on #110
Hi Nikhil,
I'm seeing this on both iOS and Android.
Thanks,
Paul

[2020-12-09 00:58] pyang-nortonlifelock commented on #110
Hi Nikhil,
I'd like to follow up with you on this issue. Please feel free to let me know if you need more info from me.
Thanks,
Paul

[2021-03-05 12:09] gvasquez95 opened #111 "[ERROR] Failed to execute goal org.apache.maven.plugins:maven-enforcer-plugin:3.0.0-M1:enforce (display-info) on project aws-device-farm: Some Enforcer rules have failed. Look above for specific messages explaining why the rule failed."
I've just downloaded the repo from the `master` branch and tried to build it using the specified `make` command, but unfortunately, it failed with the following error log:

    ["INFO] Ignoring requireUpperBoundDeps in com.google.guava:guava
    [INFO] Ignoring requireUpperBoundDeps in com.google.code.findbugs:jsr305
    [WARNING] Rule 0: org.apache.maven.plugins.enforcer.RequireMavenVersion faile

[2021-03-17 23:38] lancehudson opened #112 "Does this plugin still store credentials in plain text?"
From what I can tell the fix was committed in https://github.com/awslabs/aws-device-farm-jenkins-plugin/commit/2d8cfe3cdd299c152ca5d13aada51cb69d0fec88 but the plugin is still showing unsafe according to Jenkins.  https://plugins.jenkins.io/aws-device-farm/

Is it still unsafe?

![Screen Shot 2021-03-17 at 7 36 53 PM](https://user-images.githubusercontent.com/1708894/111552154-21ddfc00-8758-11eb-9

[2021-04-09 22:25] lancehudson opened #113 "[Feature Request] Support credentials providers and multiple different credentials"
We use multiple AWS accounts and need to be able to change which AWS account is used per pipeline.

[2021-04-12 15:42] neiljaywarner commented on #45
@seaders  can we have some documentation for this?  the pipeline syntax generator doesn't work when it comes to custom environment for espresso which appears to be required.

[2021-05-07 19:17] aristeia commented on #112
Hi there,
Thanks for reaching out. The fix was indeed deployed long ago several versions back. We have asked the Jenkins team multiple times to recognize that we fixed this, but still they have not updated the status for us.

Thanks,
Jon

[2021-05-07 19:18] aristeia commented on #113
Hi there,
Thank you for reaching out with this suggestion. At this time, we would recommend going with a custom workflow for scheduling your tests using different credentials as described in this guide here: https://docs.aws.amazon.com/devicefarm/latest/developerguide/api-ref.html

Thanks,
Jon

[2021-05-15 06:08] bijeshbisht opened #114 "Not able to Schedule Run in Device Farm"
HI Nikhil,

I am trying to run my device farm script using Java classes but getting some issue

I am getting parsing error
here is the json response
{
	"run": {
		"appUpload": "arn:aws:devicefarm:us-west-2:774545676267:upload:8cbfd1c0-a183-46da-af28-a0a73a2326dc/fc086531-38f3-45d2-8ee9-50f2ad211dfc",
		"arn": "arn:aws:devicefarm:us-west-2:774545676267:run:8cbfd1c0-a183-46da-af28-a0a73a2326dc/1f6f2

[2021-05-28 07:18] fgbreel commented on #21
There is an open pull request at https://github.com/jenkinsci/aws-device-farm-plugin/pull/22 to bring CasC support, but seems didn't received much attention too.

[2021-06-16 15:49] Kertic commented on #43
This issue is still present in the current version of the plugin

[2021-09-23 19:48] #21 closed